<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <!-- index.ejs fruits -->
      
      <a class="fruits-index-link" href="/fruits">Browse Fruits</a>
      <!-- views/index.ejs -->
      <a href="/fruits/new">Add New Fruit</a>
      
      <!-- views/fruits/new.ejs -->
      <a href="/fruits/">Back to Fruits</a>
      

    </nav>
  </body>
</html>
