<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <%- include('./partials/nav') %>

    <body>
      <h1>Edit <%= currFruit.name %></h1>
      <form action="/fruits/<%=currFruit._id%>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input
          type="text"
          name="name"
          id="name"
          value="<%= currFruit.name %>"
        />

                <label for="category">Category:</label>
       
       <select name="category" id="category" required >
         <option value="" <% if (currFruit.category === '') { %> selected <% } %> >Select a category</option>
         <option value="citrus" <% if (currFruit.category === 'citrus') { %> selected <% } %> >Citrus</option>
         <option value="berry" <% if (currFruit.category === 'berry') { %> selected <% } %>>Berry</option>
         <option value="tropical" <% if (currFruit.category === 'tropical') { %> selected <% } %>>Tropical</option>
         <option value="stone-fruit" <% if (currFruit.category === 'stone-fruit') { %> selected <% } %>>Stone Fruit</option>
         <option value="melon" <% if (currFruit.category === 'melon') { %> selected <% } %>>Melon</option>
         <option value="other" <% if (currFruit.category === 'other') { %> selected <% } %>>Other</option>
       </select>

        <label for="isReadyToEat">Ready to Eat?</label>
        <input type="checkbox" name="isReadyToEat" <% if (currFruit.isReadyToEat) { %>checked<% } %> >
        <button type="submit">Update Fruit</button>
      </form>

      <a class="fruits-index-link" href="/fruits">
        <div class="index-link-text">Back to Fruits</div>
      </a>
  </body>
</html>
